


















/* Table
   ---------------------------------------------------------*/

table.docutils {
  border-color: #dddddd;
}
table.docutils th,
table.docutils td
{
  border-color: #dddddd;
}
table.docutils tbody + tbody {
  border-color: #dddddd;
}

/* Table-bordered
   ---------------------------------------------------------*/

table.table-bordered {
  border-color: #dddddd;
}

/* -- admonition -- */
div.admonition {
  color: #ffffff;
  background-color: #ff7518;
  border-color: transparent;
}

/* -- danger, error -- */
div.danger,
div.error {
  color: #ffffff;
  background-color: #ff0039;
  border-color: transparent;
}

/* -- warning, caution, attention -- */
div.warning,
div.caution,
div.attention {
  color: #ffffff;
  background-color: #ff7518;
  border-color: transparent;
}

/* -- note, important -- */
div.note,
div.important {
  color: #ffffff;
  background-color: #439500;
  border-color: #439500;
}

/* -- hint, tip -- */
div.hint,
div.tip {
  color: #ffffff;
  background-color: #9954bb;
  border-color: transparent;
}

div.topic {
  background-color: ;
  border-color: #dddddd;
}

/* Heading
   ---------------------------------------------------------*/

h2, h3, h4, h5, h6 {
 border-bottom: 1px solid #e6e6e6 !important;
}

/* Contents
   ---------------------------------------------------------*/

div.contents {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

/* Genindex
   ---------------------------------------------------------*/

div.genindex-jumpbox {
 color: #e6e6e6;
 border-top: 1px solid #e6e6e6;
 border-bottom: 1px solid #e6e6e6;
}

/* Smartphone Local Toc
   ---------------------------------------------------------*/

ul.sp-localtoc ul a{
   color: #ffffff;
}
ul.sp-localtoc ul a:hover{
   background-color: #090909;
   color: #ffffff;
}
div.navbar-inverse ul.sp-localtoc ul a{
   color: #ffffff;
}
div.navbar-inverse ul.sp-localtoc ul a:hover{
   background-color: #0066cc;
   color: #ffffff;
}
