/*  Bootstrap
    ------------------------------------------------------- */

/*  apply font awesome
    ------------------------------------------------------- */

div.danger p.admonition-title:before,
div.error p.admonition-title:before,
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before,
div.important p.admonition-title:before,
div.note p.admonition-title:before,
div.hint p.admonition-title:before,
div.tip p.admonition-title:before
{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.danger p.admonition-title:before,
div.error p.admonition-title:before {
  content: "\f06a\00a0";
}
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before {
  content: "\f071\00a0";
}
div.important p.admonition-title:before,
div.note p.admonition-title:before {
  content: "\f05a\00a0";
}
div.hint p.admonition-title:before,
div.tip p.admonition-title:before {
  content: "\f0eb\00a0";
}

h2, h3, h4, h5, h6 {
 padding-bottom: 10px;
 border-bottom: 1px solid #d0d0d0;
}


/* for tablet */
@media (max-width: 767px) {
  form.sp-searchbox div.input-append {
    margin-top: 10px;
    margin-left: 12px;
  }
  form.sp-searchbox div.input-append {
    width: 90%;
    
  }
  form.sp-searchbox input.search-query {
    width: 100%;
  }
}

/* for smartphone */
@media (max-width: 480px) {
  a.brand {
    width: 80%;
  }
  a.navbar-brand {
    width: 80%;
    height: 100%;
  }
  .searchbox .search-query {
    width: 90%;
  }
}

/* for desktop */
@media (min-width: 768px) {
  
  .navbar-inner div.container {
    width: 1500px;
  }
  
  
  div.container {
    width: 1200px;
  }
  
}
